main {
    display: grid;
    height: 100%;
    width: 100%;
    align-content: center;
    justify-content: center;
}
article {
    width: fit-content;
    max-width: 55ch;
    height: fit-content;
}